- title("YAXT - yet another XML tool")
.row
  %h1
    %i.fa.fa-home
    Home Page

  %br

  .row
    .col-sm-6.col-sm-offset-2
      This application is made purely by request, as a proof-of-skill. Please do not upload any sensitive data, because the whole world can see this!

  %br

  .row
    .col-sm-6
      .jumbotron
        %h2
          = link_to "Upload a new file", new_entry_url
    .col-sm-6
      .jumbotron
        %h2 Latest uploads
        - @entries.each do |e|
          = link_to e.name, e
          %br
        %br
          = link_to 'View all entries', entries_url