#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          %small
            Made by #{link_to 'Janne Warén', 'http://jannewaren.fi'}
            %br/
            Source code & project info @ #{link_to 'github', 'https://github.com/jannewaren/yaxt'}
